/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-bottom: 20px;
}

.container {
	margin-top: 10px;
}

th {
	white-space: nowrap;
}

.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
 	white-space: nowrap;
}

.panel-heading {
	background-color: #FFFFFF !important;
}

.panel-footer {
	background-color: #FFFFFF !important;
}
