<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
			<servlet-name>CreatePDF</servlet-name>
			<servlet-class>bookon.CreatePDF</servlet-class>
	</servlet>
	<servlet-mapping>
			<servlet-name>CreatePDF</servlet-name>
			<url-pattern>/CreatePDF</url-pattern>
	</servlet-mapping>
	<servlet>
			<servlet-name>Authentication</servlet-name>
			<servlet-class>bookon.Authentication</servlet-class>
	</servlet>
	<servlet-mapping>
			<servlet-name>Authentication</servlet-name>
			<url-pattern>/Authentication</url-pattern>
	</servlet-mapping>
	<servlet>
			<servlet-name>LendTransaction</servlet-name>
			<servlet-class>bookon.LendTransaction</servlet-class>
	</servlet>
	<servlet-mapping>
			<servlet-name>LendTransaction</servlet-name>
			<url-pattern>/LendTransaction</url-pattern>
	</servlet-mapping>
	<servlet>
			<servlet-name>RegisterTransaction</servlet-name>
			<servlet-class>bookon.RegisterTransaction</servlet-class>
	</servlet>
	<servlet-mapping>
			<servlet-name>RegisterTransaction</servlet-name>
			<url-pattern>/RegisterTransaction</url-pattern>
	</servlet-mapping>
	<servlet>
			<servlet-name>ReturnTransaction</servlet-name>
			<servlet-class>bookon.ReturnTransaction</servlet-class>
	</servlet>
	<servlet-mapping>
			<servlet-name>ReturnTransaction</servlet-name>
			<url-pattern>/ReturnTransaction</url-pattern>
	</servlet-mapping>
	<servlet>
			<servlet-name>SignOut</servlet-name>
			<servlet-class>bookon.SignOut</servlet-class>
	</servlet>
	<servlet-mapping>
			<servlet-name>SignOut</servlet-name>
			<url-pattern>/SignOut</url-pattern>
	</servlet-mapping>
	<servlet>
			<servlet-name>Search</servlet-name>
			<servlet-class>bookon.Search</servlet-class>
	</servlet>
	<servlet-mapping>
			<servlet-name>Search</servlet-name>
			<url-pattern>/Search</url-pattern>
	</servlet-mapping>
	<servlet>
			<servlet-name>Return</servlet-name>
			<servlet-class>bookon.Return</servlet-class>
	</servlet>
	<servlet-mapping>
			<servlet-name>Return</servlet-name>
			<url-pattern>/Return</url-pattern>
	</servlet-mapping>
	<servlet>
			<servlet-name>OnLoan</servlet-name>
			<servlet-class>bookon.OnLoan</servlet-class>
	</servlet>
	<servlet-mapping>
			<servlet-name>OnLoan</servlet-name>
			<url-pattern>/OnLoan</url-pattern>
	</servlet-mapping>
	<servlet>
			<servlet-name>OverDue</servlet-name>
			<servlet-class>bookon.OverDue</servlet-class>
	</servlet>
	<servlet-mapping>
			<servlet-name>OverDue</servlet-name>
			<url-pattern>/OverDue</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Overview</servlet-name>
		<servlet-class>bookon.Overview</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Overview</servlet-name>
		<url-pattern>/Overview</url-pattern>
	</servlet-mapping>
	<servlet>
			<servlet-name>User</servlet-name>
			<servlet-class>bookon.User</servlet-class>
	</servlet>
	<servlet-mapping>
			<servlet-name>User</servlet-name>
			<url-pattern>/User</url-pattern>
	</servlet-mapping>
	<servlet>
			<servlet-name>UserTransaction</servlet-name>
			<servlet-class>bookon.UserTransaction</servlet-class>
	</servlet>
	<servlet-mapping>
			<servlet-name>UserTransaction</servlet-name>
			<url-pattern>/UserTransaction</url-pattern>
	</servlet-mapping>
	<servlet>
			<servlet-name>Record</servlet-name>
			<servlet-class>bookon.Record</servlet-class>
	</servlet>
	<servlet-mapping>
			<servlet-name>Record</servlet-name>
			<url-pattern>/Record</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>