<%@page contentType="text/html"; pageEncoding="UTF-8"%>
<%@page import="java.sql.*"%>
<%!
// サーブレットのinitメソッドに相当
public void jspInit() {
    try {
        // JDBCドライバをロード
        Class.forName("com.microsoft.sqlserver.jdbc.SQLServerDriver");
    } catch (Exception e) {
        e.printStackTrace();
    }
}
%>

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Fruitテーブルの内容(JSP版)</title>
</head>

<body>
<P>JSPによるデータベースのアクセス</P>
<table border='1'><tr><th>ID</th><th>NAME</th><th>DATE</th><th>WRITER</th><th>PUBID</th><th>ISBN</th><th>PRICE</th></tr>

<%
        // データベースへのアクセス開始
        Connection con = null;
        Statement stmt = null;
        ResultSet rs = null;
        try {
            // データベースに接続するConnectionオブジェクトの取得
            con = DriverManager.getConnection(
                "jdbc:sqlserver://ISCSV12:1433;databaseName=Library_DB;integratedSecurity=true;");
            // データベース操作を行うためのStatementオブジェクトの取得
            stmt = con.createStatement();
            // SQL()を実行して、結果を得る
            rs = stmt.executeQuery(
              "select bi_id, bk_name, pub_date, writer, pub_id, isbn_no, price from books_data");

            // 得られた結果をレコードごとに表示
            while (rs.next()) {
%>
                <tr>
                <%-- レコードのIDフィールドを表示 --%>
                <td><%= rs.getString("bk_id")%></td>
                <%-- レコードのNAMEフィールドを表示 --%>
                <td><%= rs.getString("bk_name")%></td>
                <%-- レコードのDATEフィールドを表示 --%>
                <td><%= rs.getDate("pub_date")%></td>
                <td><%= rs.getString("writer")%></td>
                <td><%= rs.getString("pub_id")%></td>
                <td><%= rs.getString("isbn_no")%></td>
                <td><%= rs.getInt("price")%></td>
                </tr>
<%
            }

        } catch (Exception e) {
            e.printStackTrace();
        } finally {
            // データベースとの接続をクローズ
            try { rs.close(); } catch (Exception e) {}
            try { stmt.close(); } catch (Exception e) {}
            try { con.close(); } catch (Exception e) {}
        }
%>

        </table>
</body>
</html>